<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa mellan datum!</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Dagboken!</h1>
    <div class="buttons">
        <a href="/"><button class="Btnstyle">Hem</button></a>
        <a href="/showBetweenDates"><button class="Btnstyle"> Visa mellan datum</button></a>
        <a href="/showAll"><button class="Btnstyle"> Visa alla dagboksinlägg</button></a>
        <a href="/deleteAll"><button class="Btnstyle">Ta bort alla inlägg</button></a>
    </div>
    <div class="showBetweenDatesStyle">
        <form method="post" th:action="@{/showBetweenDates}">
            <label class="date" for="startDate">Start Datum:</label>
            <input type="date" id="startDate" name="startDate"  required><br>

            <label class="date" for="endDate">Slut Datum:</label>
            <input type="date" id="endDate" name="endDate"  required><br>
            <button class="Btnstyle" type="submit">Visa dagboksinlägg mellan datum</button>
        </form> 
    </div>
    <h2>Valda dagboksinlägg</h2>
    <ul>
        <li th:each=" page : ${pages}">
            <h3>Titel: <span th:text="${page.title}"></span></h3>
            <h4>Innehåll: <span th:text="${page.text}"></span></h4>
            <h4>Datum: <span th:text="${page.date}"></span></h4>
        </li>
    </ul>
</body>
</html>